<div class="content-container">
  <div class="content-area">

    <div class="clr-row">

      <div class="clr-col-12">
        <div class="alert-section">
          <app-alert></app-alert>
        </div>

        <p style="text-align: center">
          <!-- interpolation & pipe -->
          Server Time: {{currentTime | date:'dd-MM-yyyy' }}
        </p>

        <h2 style="text-align: center">Customers</h2>

        <clr-datagrid>
          <clr-dg-placeholder class="content-center">No Customers!</clr-dg-placeholder>
          <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
          <clr-dg-column [clrDgField]="'firstName'">First Name</clr-dg-column>
          <clr-dg-column [clrDgField]="'lastName'">Last Name</clr-dg-column>
          <clr-dg-column [clrDgField]="'city'">City</clr-dg-column>
          <clr-dg-column>Action</clr-dg-column>
          <!-- structural directive -->
          <clr-dg-row clr-dg-row *clrDgItems="let customer of customers">
            <clr-dg-cell>{{customer.id}}</clr-dg-cell>
            <clr-dg-cell>{{customer.firstName}}</clr-dg-cell>
            <clr-dg-cell>{{customer.lastName}}</clr-dg-cell>
            <clr-dg-cell>{{customer.city}}</clr-dg-cell>
            <clr-dg-cell>
              <cds-icon shape="trash" style="cursor: pointer; color: blue" (click)="deleteCustomer(customer)">
              </cds-icon>
            </clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Customers per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} customers
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>

        <div class="clr-col-12">
          <!--  template driven form-->
          <form class="clr-form clr-form-horizontal" (ngSubmit)="saveCustomer()">
            <div class="clr-form-control">
              <label for="firstName" class="clr-control-label">First Name</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <!-- two way data binding -->
                  <input type="text" [(ngModel)]="customer.firstName" id="firstName" name="firstName"
                         placeholder="Firt Name" class="clr-input"/>
                </div>
              </div>
            </div>
            <div class="clr-form-control">
              <label for="lastName" class="clr-control-label">Last Name</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input [(ngModel)]="customer.lastName" type="text" id="lastName" name="lastName"
                         placeholder="Last Name" class="clr-input"/>
                </div>
              </div>
            </div>
            <div class="clr-form-control">
              <div class="clr-control-container">
                <!-- event binding -->
                <button type="submit" class="btn btn-primary" [disabled]="">Save</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
